.mda-sticky-nav-bar {
    background-color: var(--primary-light);
    padding: 10px;
    font-family: "Arvo", sans-serif;
    color: var(--primary-dark);
    font-weight: bold;
    font-size: larger;
    position: fixed;
    width: 100%;
    z-index: 1;}

.container {
    padding-top: 72px;
}

.mda-center-in-div {
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column-reverse;
}

.mda-page-background {
    background-color: var(--surface);
}

.h1 {
    color: var(--primary);
    font-family: "Arvo", sans-serif;
    font-weight: bolder;
    line-height: normal;
}

.mda-body-text {
    color: var(--text);
    font-family: "Lato", sans-serif;
    font-weight: lighter;
}

.mda-link-text {
    color: var(--accent);
    font-family: "Lato", sans-serif;
    font-style: oblique;
}

/* Theme Colors */
:root {
    --surface: #F8F6F2;
    --surface-dark: #E9E5D8;
    --text: #191919;
    --text-light: #333333;
    --primary: #3E6259;
    --primary-light: #9BC0B7;
    --primary-dark: #273F39;
    --secondary: #1D3B72;
    --secondary-light: #4D7BD1;
    --secondary-dark: #0E1C36;
    --accent: #987D7C;
    --danger: #92140C;
    --danger-light: #F7A6A1;
}